<div class="container">
<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold text-right my-5">פעילויות לנשים</h2>
<!-- Section description -->
<p class="text-right dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!-- כרטיס כותרת -->
<div class="card">
    <div class="card-body">
      <h5 class="card-title">מערכת סטודיו מרכז הספורט נווה יעקב</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img class="card-img-bottom" src="assets\sport\women\sport_Schedule.jpg" alt="Card image cap">
  </div>



    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets\sport\women\erubi-girls.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">אירובי לנערות</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button mat-raised-button >להצטרפות</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets\sport\women\ground_workout.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">התעמלות קרקע</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button mat-raised-button >להצטרפות</button>
          </div>
        </div>
        <div class="card">
            
          <div class="card-body">
              <h5 class="card-title">מערכת חדר כושר - נשים</h5>
              <img class="card-img-top" src="assets\sport\women\women_jim.jpg" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button mat-raised-button >להצטרפות</button>
          </div>
        </div>
      </div>

      <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">הנחה לבעלי מוגבלויות</h5>
            <h6 class="card-subtitle mb-2 text-muted">הסדרים מיוחדים לחברי קופ"ח מאוחדת</h6>
            <p class="card-text">לבוגרים מעל גיל 16 עם 20% נכות ומעלה המוכרים בביטוח לאומי
                הנחה במחירי המנוי.</p>
                <button mat-raised-button >פרטים</button>
            
          </div>
        </div>

</div>