<div class="container">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-right my-5">פעילויות לבנים</h2>
    <!-- Section description -->
    <p class="text-right dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <!-- כרטיס כותרת -->
    
    
    
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="assets\sport\boys\basketball.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">כדורסל</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button mat-raised-button >להצטרפות</button>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets\sport\boys\kaminitz.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">חוגים בשלוחת קמיניץ</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button mat-raised-button >להצטרפות</button>
              </div>
            </div>
            
            <div class="card">
                <img class="card-img-top" src="assets\sport\boys\movment.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">ספורט ותנועה</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <button mat-raised-button >להצטרפות</button>
                </div>
              </div>
    </div>


    <div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="assets\sport\boys\self_defence.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">הגנה עצמית</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button mat-raised-button >להצטרפות</button>
        </div>
      </div>


      <div class="card">
          <img class="card-img-top" src="assets\sport\boys\self_defence.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">הגנה עצמית</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button mat-raised-button >להצטרפות</button>
          </div>
        </div>


        
    </div>
</div>