<div class="container">
  <div class="jumbotron">
    <img class="img-fluid" src="assets\news\drushim.jpg" alt="Sample image">
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <button mat-raised-button>לפרטים</button>
    </p>
  </div>


  <div class="card-columns">
    <div class="card">



      <a data-toggle="modal" data-target=".bd-modal-lg1">
        <img class="img-fluid" src="assets\news\business.jpg" alt="Sample image">
      </a>
      <!-- Large modal -->
      <div class="modal fade bd-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <img class="img-fluid" src="assets\news\business.jpg" alt="Sample image">
          </div>
        </div>
      </div>








      <div class="card-body">
        <h5 class="card-title">כנס רישות עסקי</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.
        </p>


        <button mat-raised-button>להרשמה</button>



      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
          <button mat-raised-button>להרשמה</button>
        </footer>
      </blockquote>
    </div>




    <div class="card">

      <a data-toggle="modal" data-target=".bd-modal-lg2">
        <img class="img-fluid" src="assets\news\fixing.jpg" alt="Sample image">
      </a>
      <!-- Large modal -->
      <div class="modal fade bd-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <img class="img-fluid" src="assets\news\fixing.jpg" alt="Sample image">
          </div>
        </div>
      </div>



      <div class="card-body">
        <h5 class="card-title">משפצים ...</h5>
        <p class="card-text">כדאי לדעת !!!</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
        <footer class="blockquote-footer">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>



    <div class="card">
      
      <a data-toggle="modal" data-target=".bd-modal-lg3">
        <img class="img-fluid" src="assets\news\women_rights.jpg" alt="Sample image">
      </a>
      <!-- Large modal -->
      <div class="modal fade bd-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <img class="img-fluid" src="assets\news\women_rights.jpg" alt="Sample image">
          </div>
        </div>
      </div>


    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
          content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>