<div class="container">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-7 mb-4">

      <div class="card" style="width: 40rem;">
        <div class="card-body">
          <h5 class="font-weight-bold mb-3">צור קשר</h5>
          <p class="mb-0">טלפונים חשובים :</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item max-w35">מזכירות : 02-5838974</li>
          <li class="list-group-item max-w35">מרכז הספורט : 02-5830597</li>
          <li class="list-group-item max-w35">email : 5838974@gmail.com</li>
          
        </ul>
        <div class="card-body">
          
        </div>
      </div>
    </div>
    <!-- column 1 end -->
    <!-- column 2 -->
    <div class="col-md-5 mb-4">
      <!-- כותרת שער -->

      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h1>מינהל קהילתי נווה יעקב</h1>
          <h2><span class="s1"> קהילה </span>
            <span class="s2"> בשיתוף </span>
            <span class="s3"> פעולה </span>
          </h2>

          <hr>

          <div class="content">
            <p>להצטרפות לרשימת דיוור במייל :</p>
            <button mat-raised-button>
              <a target="_blank" rel="noopener noreferrer" href="http://neveyaakov.activetrail.biz/landing-page">לחץ
                כאן</a>
            </button>
          </div>
        </div>
      </div>
      <!-- סוף כותרת שער -->

    </div>
  </div>
</div>