@import './src/theme.scss';

h1 {
    color: map-get($map: $colors, $key:primary );
    direction: rtl;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}
h2 {
    color: map-get($map: $colors, $key:primary );
    direction: rtl;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
div {
    text-align: right;
}
.s1 {
    color: red;
}
.s2 {
    color: #00C851;
}
.s3 {
    color: #FF8800;
}

.content {
    text-align: left;
}

button {
    background-color: map-get($map: $colors, $key:accent );
    a {
        text-decoration: none;
        color: black;
    }
}